*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.wrapper{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.container{
    height: calc(100vh - 100px);
    overflow: auto;
}

.container-footer{
    width: 100%;
    height: 100px;
    overflow-y: hidden;
    background-color: #333;
}
/* ----FULLSCREEN BUTTONS---- */
.screen-cmd{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.screen-cmd span{
    background-color: #333;
    padding:5px;
    margin-right: 10px;
    border-radius: 5px;
}

.screen-cmd span:hover{
    color:green;
}
/* ----CONNECTED USERS PREVIEW---- */
.users-connected{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:20px 0;
}

.user-img{
    width: 200px;
    height: 150px;
    margin: 2px 1px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    position:relative;
}

.user-img img{
    height: 100%;
}

.user-name::before{
    font-family: "Font Awesome 5 Free";
    content: '\f131\0020 John Doe';
    font-weight: 900;
    position: absolute;
    bottom:0;
    left:0;
    padding:5px;
    background-color: rgba(0 , 0, 0, 0.5);
}
/* ----FOOTER ZOOM COMMAND---- */
.zoom-cmd{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
}
/* ----PERSONAL COMMAND---- */
.personal-cmd, .action-cmd{
    display: flex;
    align-items: center;
}

.cmd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cmd span{
    margin-top: 10px;
}

.cmd-ico{
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
}

.personal-cmd .cmd-ico:hover{
    color:darkred;
}

.action-cmd .cmd-ico:hover{
    color: green;
}

.arrow::before{
    font-family: "Font Awesome 5 Free";
    content: '\f077';
    font-weight: 900;
    font-size: 10px;
    margin: 0 15px;
}

.mute::before{
    content: '\f130';
    font-weight: 900;
}

.video::before{
    content: '\f03d';
    font-weight: 900;
}
/* ----ZOOM ACTIONS---- */
.action-cmd .cmd{
    margin: 0 10px;;
}

.add-user::before{
    content: '\f234';
    font-weight: 900;
}

.manage-user::before{
    content: '\f500';
    font-weight: 900;
}

.poll::before{
    content: '\f080';
    font-weight: 900;
}

.share::before{
    content: '\f14d';
    font-weight: 900;
}

.chat::before{
    content: '\f075';
    font-weight: 900;
}

.record::before{
    content: '\f0c7';
    font-weight: 900;
}

.break::before{
    content: '\f009';
    font-weight: 900;
}

.dots::before{
    content: '\f141';
    font-weight: 900;
}
/* ----LOGOUT--- */
.logout{
    line-height: 100px;
    font-size: 20px;
    background-color: rgb(98, 94, 94);
    padding: 0 10px;
    margin-left: 10px;
    color: darkred;
}

.logout:hover{
    background-color: darkred;
    color:white;
}

@media screen and (max-width: 1050px){
    .logout span{
        display: none;
    }
    
    .logout::before{
        font-family: "Font Awesome 5 Free";
        font-size: 20px;
        content: '\f2f5';
        font-weight:900 ;
        color:darkred;
    }

    .logout:hover{
        background-color: rgb(98, 94, 94);
    }
}